 .u-section-1 {
  background-image: linear-gradient(#333333, #1a1a1a);
}

.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-group-1 {
  width: 470px;
  min-height: 420px;
  height: auto;
  --radius: 7px;
  margin: 76px 34px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 420px;
  --radius: 9px;
  margin: -420px auto 60px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 398px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-group-1 {
    min-height: 333px;
    margin-top: 296px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 251px;
    margin-top: -583px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-block-be1b-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-be1b-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 232px;
  right: auto;
}

.u-block-be1b-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(#404040, #425465);
}

.u-section-2-1 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 15px auto 0 144px;
}

.u-section-2-1 .u-text-2 {
  font-size: 1.125rem;
  width: 837px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-2-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-2-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 7px;
    margin-left: 0;
  }

  .u-section-2-1 .u-text-2 {
    width: 340px;
    margin-top: 8px;
    margin-bottom: 1px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 659px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 648px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-3 .u-text-1 {
  margin: 0 28px 0 0;
}

.u-section-3 .u-form-1 {
  height: 416px;
  margin: 16px 35px 0 7px;
}

.u-section-3 .u-form-group-1 {
  margin-left: auto;
}

.u-section-3 .u-form-group-2 {
  margin-left: auto;
}

.u-section-3 .u-form-group-3 {
  margin-left: auto;
}

.u-section-3 .u-form-group-4 {
  margin-left: auto;
}

.u-section-3 .u-form-group-5 {
  margin-left: auto;
}

.u-section-3 .u-btn-1 {
  margin-left: auto;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 110px;
  min-width: 80px;
  margin: 20px auto 0 193px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 648px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 7px 9px;
}

.u-section-3 .u-text-2 {
  margin: 0 7px;
}

.u-section-3 .u-list-1 {
  width: 524px;
  margin: 28px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 246px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 16px 64px 0 7px;
}

.u-section-3 .u-image-1 {
  width: 245px;
  height: 246px;
  margin: -42px 0 0 auto;
}

.u-section-3 .u-text-4 {
  margin: -166px 260px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-social-icons-1 {
    width: 98px;
    min-width: 68px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-3 .u-list-1 {
    width: 438px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 202px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 110px;
    min-width: 80px;
    margin-top: -13px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 6px 0 14px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-3 .u-list-1 {
    width: 322px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 160px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-3 .u-image-1 {
    width: 112px;
    height: 112px;
    margin-top: 3px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -77px;
    margin-right: 86px;
  }
}