body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #007FFF, #00FF00);
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.titulo {
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 18px;
  margin-bottom: 20px;
}

.qr {
  width: 150px;
  margin-bottom: 20px;
}

.instagram-logo {
  width: 30px;
  vertical-align: middle;
}


