body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #00008B, #ADD8E6, #FFFFFF, #F0F8FF, #87CEFA, #00BFFF, #4682B4, #0000FF, #1E90FF, #87CEEB, #00008B);
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.titulo {
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 18px;
  margin-bottom: 20px;
}

.whatsapp {
  font-size: 16px;
  margin-bottom: 20px;
}

.qr {
  width: 150px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#message-success {
  color: green;
  font-weight: bold;
}
